.price-details {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    width: 90%;
    padding: 0;
    margin: 0 auto;
}

.price-details tr {
    display: block;
    margin: 5px;
    /* border: 1px solid black; */

    color: rgb(106, 106, 106);
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.text-description {
    color: rgb(93, 93, 93);
    font-size: 13px;
    line-height: 23px;
    direction: ltr;
    padding: 10px;
    text-align: left;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnCart {
    border: 1px solid #74e4f0;
    background-color: #10BBCF;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 60%;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 1px 3px 2px rgba(128, 0, 0, 0.32)
}

.btnCart i {
    font-size: 14px;
    /* padding: 0px; */
    position: relative;
    margin-right: 5px;
    display: inline;
}

.btnCart i:hover {
    color: #EC3237;
}


.btnCart:hover {
    border: 1px solid black;
    background: #ffffff;
    color: black;
}


.btnCart span:hover {
    background-color: #ffffff;
}

.btnProduct {
    text-align: center;
    background-color: #10BBCF;
    padding: 6px;
    border: 1px solid #007582;
    letter-spacing: 1px;
    margin-top: -30px;
    width: 21.6%;
    float: right;
}

.btnDel {
    border: 1px solid #007582;
    text-align: center;
    width: 42%;
    height: 30px;
    padding: 5px 0 3px 5px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: #EC3237;
    cursor: pointer;
}

.btnDel span {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.btnDel:hover {
    background: #ffa5a8;
    color: black;
}


.btnProduct span {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.btnProduct:hover {
    background: white;
}

.btnEdit :any-link {
    /* width: 45px; */
    height: 31px;
    padding: 8px 38px 8.5px 38px;
    border: 1px solid #007582;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 10px;
    background: #02cc42;
    color: #ffffff;
}

.btnEdit span {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.btnEdit :any-link:hover {
    background-color: #9ffdbd;
}

.btnContent {
    display: flex;
    width: 32.8%;
    height: 50px;
    margin-left: 20px;
    /* padding: 10px; */
    display: flex;
    margin-top: 5px;
}

.btn-details-del {
    border: 1px solid rgb(129, 129, 129);
}

.contentTab {
    padding: 10px;
    margin: 10px;
    border: 2px dashed rgb(197, 197, 197);
    margin: 15px 0 15px;
}

.contentTab h4{
    padding: 20px 0 10px 0;
    text-align: left;
}

.contentTab form {
    margin-top: 5px;
}

.contentTab form input {
    border: 1px solid rgb(208, 208, 208);
    padding: 8px;
    width: 50%;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contentTab form textarea {
    font-size: 13px;
    border: 1px solid rgb(208, 208, 208);
    width: 50%;
    height: 100%;
    padding: 20px;
    display: block;
}

.contentTab ::placeholder {
    color: #02cc42;
}

button.btnComment{
    border: 1px solid rgb(181, 181, 181);
    width: 50%;
    color: black;
    background: red;
}
button.btnComment:hover{
    border: 1px solid rgb(181, 181, 181);
    width: 50%;
    color: rgb(0, 195, 255);
}