.price-details {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    width: 90%;
    padding: 0;
    margin: 0 auto;
}

.price-details  tr {
    /* border: 1px solid black; */
    display: block;
    /* width: 150%; */
    margin: 5px;
    color: rgb(106, 106, 106);
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.text-description p {
    color: rgb(93, 93, 93);
    font-size: 13px;
    line-height: 23px;
    direction: ltr;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnCart {
    border: 1px solid black;
    background-color: #10BBCF;
    /* float: left; */
    letter-spacing: 1px;
    margin-left: 7PX;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
    width: 60%;
    text-align: center;
    text-transform: uppercase;
}


.btnCart:hover {
    border: 1px solid black;
    background-color: #93f4ff;

}


.btnCart span:hover {
    background-color: #ffffff;
}

.btnProduct {
    text-align: center;
    background-color: #10BBCF;
    padding: 8px;
    border: 1px solid black;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.btnDel {
    border: 1px solid black;
    text-align: center;
    width: 45%;
    padding: 5px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: #EC3237;
    cursor: pointer;
}

.btnDel span {
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnDel:hover {
    background: #ffa5a8;
    color: black;
}


.btnProduct span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 11px;
}

.btnProduct:hover {
    background: white;
}

.btnEdit {
    width: 45%;
    padding: 5px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 10px;
    background: #02cc42;
}

.btnEdit span {
    color: black;
    display: inline;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    cursor: pointer;

}

.btnEdit:hover {
    background: #9ffdbd;
}

.btnContent {
    display: flex;
    padding: 10px;
    /* margin-left: 5%; */
}

.btn-details-del {
    border: 1px solid rgb(129, 129, 129);
}