.add-content form input {
  width: 290px;
  height: 25px;
  border: 1px solid rgb(199, 199, 199);
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  color: #617D97;
  border-radius: 4px;
  color: #848484;
}

.add-content form textarea {
  border: 1px solid rgb(199, 199, 199);
  margin-left: 6px;
  width: 95%;
  color: #617D97;
  font-size: 16px;
  border-radius: 4px;
}

.add-content h1 {
  text-align: center;
  margin-left: 0px;
  text-align: start;
  padding-left: 12px;
}

.add-content h1 {
  position: relative;
  display: grid;
  margin-left: 183px;
}

.add-content form {
  position: relative;
  display: grid;
  width: 57em;
  justify-content: center;
  height: auto;
  margin-left: 10px;
}


.btn {
  width: 296px;
  height: 30px;
  border: 1px solid rgb(156, 156, 156);
  background-color: #11bcd0;
  margin-top: 10px;
}

.label-login {
  font-size: 16px;
  color: rgb(126, 126, 126);
  padding-bottom: 5px;
}

.add-content textarea {
  width: 290px;
  height: 100px;
  resize: none;
}

.addItem-content {
  position: relative;
  justify-content: center;
  margin-left: 120px;
}

.addItem-content h3 {
  position: relative;
  justify-content: center;
  margin-left: 200px;
  color: black;
}

.add-content {
  position: relative;
  display: flex;
}