.add-content form input {
  width: 290px;
  height: 25px;
  border: 1px solid rgb(199, 199, 199);
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  color: #617D97;
  border-radius: 4px;
  color: #848484;
}

.add-content form textarea {
  border: 1px solid rgb(199, 199, 199);
  margin-left: 6px;
  width: 95%;
  color: #617D97;
  font-size: 16px;
  border-radius: 4px;
}

.add-content h1 {
  text-align: center;
  margin-left: 0px;
  text-align: start;
  padding-left: 12px;
}

.add-content h1 {
  position: relative;
  display: grid;
  margin-left: 183px;
}

.add-content form {
  position: relative;
  display: grid;
  width: 57em;
  justify-content: center;
  height: auto;
  margin-left: 10px;
}


.btn {
  width: 97%;
  /* height: 120px auto; */
  padding: 7px;
  border: 1px solid rgb(156, 156, 156);
  background-color: #11bcd0;
  margin: 5px 5px 0;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.label-login {
  font-size: 16px;
  color: rgb(126, 126, 126);
  padding-bottom: 5px;
}

.add-content textarea {
  width: 290px;
  height: 100px;
  resize: none;
}

.addItem-content {
  position: relative;
  justify-content: center;
  margin-bottom: 20px;
}



.addItem-content form input{
  height: 30px;
}

.add-content form textarea {
  width: 96%;
}

.addItem-content input::placeholder {
  font-size: 13px;
  color: #617D97;
  font-family: Arial, Helvetica, sans-serif;
}

.addItem-content h3 {
  position: relative;
  justify-content: center;
  margin-left: 348px;
  font-size: 22px;
  color: black;
}

.add-content {
  position: relative;
  display: flex;
}