.form-check form input {
  border: 1px solid rgb(199,199,199);
  /* width: 250px; */
  height: 25px;
  display: inline;
  color: #7B92A6;
  font-size: 16px;
  width: 90%;
  margin: 7px;
  padding: 5px;
  border-radius: 4px;
}

.form-check th {
  background-color: #2F2F2F;
  color: white;
  border: 3px solid rgb(188, 188, 188);
  width: 140px;
  margin: 1px;
  display: inline-block;
}

.form-check form {
  /* display: flex; */
  float: left;
  margin-left: 40px;
  padding-bottom: 50px;

  /* padding-right: 10px; */
}



.product-item-check{
  margin: 20px;
}

.price-total-check{
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  display: inline;
  float: right;
  padding: 30px;
  margin-top: 0px;
  margin-right: 15px;
}

.check-content{
  display: block;
  float: left;
  width: 200px  ;
  /* padding-left: 20px; */
  justify-content: center;
  /* float: right; */
  /* margin-bottom: 200px; */

}