/* Credit: http://www.templatemo.com */

/* 
Shoes Template 
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  color: #999;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  background-repeat: repeat;
  background-image: url(../public/images/templatemo_body.jpg);
}

/*  */

header {
  position: absolute;
  width: 100%;
}



a:hover {
  text-decoration: underline;
}


a.addtocart-details {
  position: relative;
  float: left;
  width: 60%;
  padding: 5px;
  margin-left: 5px;
  justify-content: center;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;

  font-weight: 1000;
  background-color: #10bbcf;
  color: #ffff;
  border: 2px solid rgba(6, 73, 96, 0.114);
  box-shadow: rgb(127, 127, 127) 2px 2px 2px;
}

.cart-header {
  display: inline-block;
  margin: 5em 2em 0 0;
}

.cart-header i {
  font-size: 20px;
  color: #182021;
}

a.addtocart-edit {
  position: relative;
  float: left;
  width: 25%;
  padding: 5px;
  margin-left: 20px;
  justify-content: center;
  font-size: 13px;
  text-decoration: none;
  text-align: center;

  font-weight: 1000;
  background-color: #10bbcf;
  color: #ffff;
  border: 2px solid rgba(6, 73, 96, 0.114);
  box-shadow: rgb(127, 127, 127) 2px 2px 2px;
}

.contt-cartsIcon {
  border-bottom: 1px solid black;
  padding: 5px;
  display: inline-block;
  width: 40em;
}

/*  */

a.addtocart-delete {
  position: relative;
  float: left;
  width: 25%;
  padding: 5px;
  margin-left: 20px;
  justify-content: center;
  font-size: 13px;
  text-decoration: none;
  text-align: center;

  font-weight: 1000;
  background-color: #10bbcf;
  color: #ffff;
  border: 2px solid rgba(6, 73, 96, 0.114);
  box-shadow: rgb(127, 127, 127) 2px 2px 2px;
}

.icons-cart {
  float: left;
  margin-left: 10px;
  font-size: 14px;
  padding-right: 5px;
}

.icons-cart-header {
  float: left;
  margin-left: 10px;
  font-size: 22px;
}

a.cart-buy {
  display: flex;
  width: 101%;
  padding: 5px;
  margin-right: 15px;
  justify-content: center;
  font-size: 11px;
  text-decoration: none;

  font-weight: 1000;
  background-color: #10bbcf;
  color: #ffff;
  border: 1px solid rgba(6, 73, 96, 0.114);
  box-shadow: rgb(135, 135, 135) 2px 2px 2px;
}

.percent {
  background-color: red;
  padding: 2px;
  width: 37px;
  float: left;
  font-weight: bold;
  font-size: 12px;

  display: grid;
  color: wheat;
}

a.detail {
  border: 1px solid rgb(189, 189, 189);
  width: 20px;
  display: initial;
  padding: 2px;
  margin: 9px;
  font-size: 13px;
  font-weight: 550;
}

.buy {
  border: 1px solid black;
  padding: 10px;
  margin: 12px;
}

.buttons detail {
  width: 100px;
  height: 10px;
  display: inline;
}

tr {
  border: 1px solid blacka;
}

.sneakers-name-details {
  margin-left: 3px;
  letter-spacing: 1px;
  font-size: 15px;
  color: black;
}

p {
  margin: 0 0 10px 0;
  padding: 0;
}


#templatemo_body_wrapper {
  width: 100%;
  background: url(../public/images/templatemo_body_top.jpg) repeat-x top;
}

#templatemo_header {
  width: 960px;
  height: 135px;
  padding: 0px 0px;
  background: url(../public/images/templatemo_header_bg.png) no-repeat bottom;
}

#templatemo_menubar {
  color: red;
  width: 980px;
  height: 60px;
  background: url(../public/images/templatemo_menubar.png) no-repeat;
}

#content {
  position: relative;
}

#content-login {
  position: relative;
  display: flex;
  width: 43%;
  padding: 0 10px 10px;
  margin: 0 20px 15px -10px;
  border: 1px solid #cfcfcf;
  background-color: #F5F5F5;
}

#content-login input {
  height: 7px;
}

#templatemo_footer {
  width: 960px;
  color: rgb(255, 255, 255);
  padding: 30px 10px;
  letter-spacing: 1px;
  text-align: center;
  background: url(../public/images/templatemo_footer.png) no-repeat top;
}

#templatemo_footer p:link {
  color: #ffffff;

}


#site_title {
  margin-top: 40px;
}

#site_title h1 {
  margin: 0;
  padding: 0;
}

#site_title h1 a {
  color: #2f2f2f;
  background: url(/images/templatemo_logo.png) no-repeat top left;
}

#menu_second_bar {
  padding: 5px 10px;
}

#top_shopping_cart {
  float: left;
  padding: 5px 0;
  font-size: 11px;
}

.templatemo_main_shop_cart {
  position: sticky;
  padding-left: 11px;

  background: url(../public/images/templatemo_main_bg.png) repeat-y;
}

.templatemo_main_shop_cart table {
  position: sticky;
  width: 60em;
  padding: 10px;
}

#templatemo_main_addProduct {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding-left: 30px;
  background: url(../public/images/templatemo_main_bg.png) repeat-y;
}

#templatemo_main-login {
  display: flex;
  justify-content: center;
  background: url(../public/images/templatemo_main_bg.png) repeat-y;
}

.succsessForm {
  border: 1px solid rgb(209, 209, 209);
  background-color: #f2f2f2;
  text-align: center;
  display: grid;
  margin-left: 10%;
  width: 32%;
  color: green;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 50px;
}

.content_register-form {
  border: 1px solid #cfcfcf;
  display: inline-block;
  justify-content: center;
  background-color: #f5f5f5;
}

#templatemo_main-register {
  background-color: none;
  padding-left: 260px;
  padding-bottom: 20px;
  background: url(../public/images/templatemo_main_bg.png) repeat-y;
}

#templatemo_main-register input {
  width: 340px;
}

.templatemo_main_shop_cart img {
  position: relative;
  display: inline-block;
  max-width: 110px;
}

.templatemo_main {
  /* display: flex; */
  margin: 0 auto;
  padding-left: 29px;
  width: 0 auto;

  background: url(../public/images/templatemo_main_bg.png) repeat-y;
}

.serach-item {
  display: absolute;
  float: left;
}

.search input {
  height: 25px;
  width: 200px;
  margin-bottom: 15px;
  border: 1px solid #4b4b4b44;
}

#templatemo-main-details {
  position: relative;
  display: flex;
  background: url(../public/images/templatemo_main_bg.png) repeat-y;
}

#templatemo-main-contact {
  position: relative;
  margin-right: 0px;
  width: 101%;
  padding: 0px;
  display: flex;
  background: url(../public/images/templatemo_main_bg.png) repeat-y;
}

#templatemo-main-checout {
  position: relative;
  margin-right: 40px;
  width: 101%;
  padding: 0px;
  display: flex;
  background: url(../public/images/templatemo_main_bg.png) repeat-y;
}

#templatemo-main-checout h2 {
  display: block;
  padding: 0;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  margin-left: 34px;
  font-weight: bold;
  color: #617D97;
  text-transform: uppercase;
  /* margin-top: 10px; */
  width: 100%;
}

#templatemo-main-checoutOrder {
  position: relative;
  margin-right: 40px;
  width: 101%;
  padding: 0px;
  display: inline;
  float: left;
  background: url(../public/images/templatemo_main_bg.png) repeat-y;
}

#templatemo-main-checoutOrder table {
  border: 1px solid black;
  display: inline;
  width: 100%;
  float: right;
  margin: 5px;
  text-align: center;
  /* float: left; */
}

#templatemo-main-checoutOrder table tr td {
  border: 1px solid rgb(236, 15, 15);
  /* float: left; */
  display: inline-block;
  width: 100%;
}

#templatemo_main img {
  max-width: 100%;
  display: flex;
  height: auto;
  padding: 0;
}

#templatemo_main-home img {
  max-width: 98%;
  display: grid;
  float: left;
  margin-left: 10px;
  height: auto;
  padding: 0;
}
#templatemo_main-home  {
  float: left;
  display: grid;
  margin-top: -17px;
}

.templatemo_main_shop_cart table th {
  padding: 3px;
  width: 20%;
  color: white;
  background-color: #2F2F2F;
  margin-left: 50px;
}

.end-product-check2 {
  border: 3px solid rgb(255, 0, 0);
  position: sticky;
}

.che-output-container tr {
  color: #617D97;
  display: grid;
  margin-top: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

.che-output-container table {
  border: 1px solid rgb(219, 219, 219);
  color: rgb(106, 106, 106);
  display: flex;
  margin: 1px;
  width: 107%;
  padding-top: 10px;
}

.cont {
  float: left;
  width: 58.5%;
  padding: 1px;
  text-align: left;
}

.cont tr {
  width: 80%;
  padding: 0 0 0 30px;
}


.che-output-container img {
  position: relative;
  display: flex;
}


.content-details-name {
  padding: 10px;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f4f4f4;
}

.content-details-name span {
  color: #65829D;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content-details button {
  position: relative;
  height: 15%;
  margin-top: 10px;
  background-color: #f4f4f4;
}

.total-price table {
  border: 1px solid black;
}

.templatemo_main_shop_cart table td {}

#templatemo_main input {
  border: 1px solidr rgb(156, 156, 156);
  margin-right: 20px;
}

.content-update {
  width: 405%;
  height: 50px;
  position: relative;
  display: grid;
  margin: 0;
}

.content-update tr {
  position: relative;
  display: inline-block;
  color: rgb(156, 156, 156);
}

.content-update p {
  position: sticky;
  display: flex;
  margin: 4px;
  float: left;
  background: none;
  color: rgb(156, 156, 156);
}

.product_box img {
  margin-bottom: 5px;
  max-width: 220px;
}



#content-details {
  position: relative;
  padding: 20px;
  margin: 0 auto;
}

#content-details img {
  border: 1px solid rgb(237, 237, 237);
  display: grid;
  margin-left: 85px;
  max-width: 280px;
  max-height: 280px;
}


.phone-contact span {
  display: flex;
  width: 80%;
  margin-top: 13px;
  padding: 10px;
  text-align: left;
  margin-right: 25px;
  color: rgb(114, 114, 114);
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.btnDeleteItem {
  color: black;
}

.btnDeleteItem span {
  /* color: rgb(14, 84, 127); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnDeleteItem:hover {
  color: black;
  /* border: 1PX solid black; */
  color: red;
}

.tableShop tr {
  width: 109px;
  float: left;
  /* margin: 4px; */
  display: flex;
  /* border: 1px solid black; */

}

.tableShop td {
  /* border: 1px solid black; */
  margin: 0 auto;

}

.tableShop table {
  float: left;
  margin: 1px;
  margin-left: 13px;
  width: 98%;
  /* height: 90px; */
  display: inline;
  border: 1px solid rgb(222, 222, 222);

}

.tableShop img {
  border: 1px solid rgb(238, 238, 238);
  width: 70px;
  margin: 0 auto;
}