.contact-content form input {
  width: 290px;
  height: 25px;
  border: 1px solid rgb(156, 156, 156);
}

.contact-content h1 {
  text-align: center;
  margin-left: 0px;
  text-align: start;
  padding-left: 12px;
}

contact-content {
  width: 200px;
  display: grid;
}

.contact-content p {
  text-align: center;
  position: relative;
  display: flex;
  width: 400px;
  margin-left: 265px;
}

.contact-content form {
  justify-content: center;
  display: grid;
  margin-left: 45%;
  padding: 20px;
}

.content-office{
  justify-content: center;
  float: left;
  display: block;
  margin-top: 20px;
  margin-left: 120px;
  width: 110%;
  text-align: center;
}

.btn {
  width: 296px;
  height: 30px;
  font-size: 20px;
  border: 1px solid rgb(156, 156, 156);
  background-color: #11bcd0;
}


.contact-content textarea {
  width: 290px;
  height: 100px;
  resize: none;
}