.login-content form input {
  width: 290px;
  height: 25px;
  border: 1px solid rgb(156, 156, 156);
}

.login-content h1 {
  position: relative;
  margin-left: 160px;
}

.login-content p {
  position: relative;
  display: flex;
  margin-right: 100px;
  width: 400px;
  margin-left: 120px;
}

.login-content form {
  position: relative;
  display: grid;
  justify-content: left;
  margin-left: 50px;
  height: auto;
  padding-bottom: 80px;
}

.btn {
  width: 296px;
  height: 30px;
  margin-top: -10px;
  border: 1px solid rgb(156, 156, 156);
  background-color: #11bcd0;
}

.label-login {
  font-size: 16px;
  color: rgb(126, 126, 126);
  margin-bottom: 5px;
}
