.user-name-user {
  float: left;
  color: white;
  display: flex;
  margin-left: 132px;
  margin-top: 4px;
  font-size: 13px;
  /* padding: 5px; */
  display: inline;
  letter-spacing: 1px;
  /* border: 1px solid black; */
}

