.user-name-user {
  float: left;
  color: rgb(255, 0, 0);
  margin-left: -519px;
  margin-top: -35px;
  font-size: 13px;
  text-shadow: 1px 1px 1px rgb(170, 170, 170), 0 0 0.6em rgb(0, 0, 0), 0 0 0.1em rgb(0, 0, 0);
  letter-spacing: 1px;
  background-image: url(templatemo_search_bg.png);
}