.user-name-user {
  float: left;
  color: white;
  display: flex;
  margin-left: 135px;
  margin-top: 5px;
  font-size: 14px;
  padding: 10px;
  display: inline;
  letter-spacing: 1px;
  /* border: 1px solid black; */
}

