.content-image {
  color: blueviolet;
  border-bottom: 5px solid black;

  height: auto;
  margin: 5px 0 0;
  padding: 0;
}

.content-crat-item td {
  font-size: 13px;
  position: relative;
  display: inline0-block;
  margin: 0 auto;
  padding: 35px;
  border-bottom: 1px solid black;
}

.constent-cartIcon img {
  border-bottom: 5px solid black;
  display: block;
  width: 7.8em;
}

.constent-cartIcon {
  padding: 10px;
}

.itemDeleteCart {
  border: 1px solid rgb(199, 199, 199);
  display: flex;
  padding: 10px;
}

.itemDeleteCart td {
  width: 100em;
  height: 40px;
  margin: 2px;
}

.name-sneaccers-del {
  direction: rtl;
  padding: 10px;
  margin-left: 0px;
  margin-top: 20px;
  font-size: 11px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  display: inline;
  height: 40px;
}

.name-sneaccers {
  font-size: 15px;
}

.price-sneaccers-del {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: red;
  padding: 10px;
  margin-left: 0px;
  margin-top: 20px;
  display: inline;
  height: 40px;
}

.name-sneaccers-del {
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 10px;
  margin-left: 0px;
  margin-top: 20px;
  height: 40px;
}

.image-sneaccers img {
  width: 80px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 6px;
  margin: 7px 0 0 8px;
}

.shoping-image img {
  /* padding: 2px; */
  display: block;
  width: 70px;
  position: relative;
  border: 1px solid rgb(220, 220, 220);
}

.shoping-image {
  padding: 0 auto;
  margin: 0 auto;
  /* float: left; */
  display: block;
}

.tableItem {
  background: #f4f4f4;
  display: flex;
  border-radius: 6px;
}

.btn-content-del {
  border: 1px solid rgb(236, 236, 236);
  display: block;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  text-align: center;
  margin-top: 9px;
  background-color: red;
  text-decoration-color: black;
  color: rgb(255, 255, 255);
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;

}

.btn-content-cancel {
  border: 1px solid rgb(222, 222, 222);
  display: block;
  text-align: center;
  margin-top: 7px;
  background-color: #11bcd0;
  color: black;
  padding: 7px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button-shoping {
  width: 124%;
  margin-top: 10px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.button-shoping span {
  border: 2px solid rgb(108, 108, 108);
  height: 18px;
  width: 110%;
  display: inline-block;
  color: rgb(2, 2, 2);
  padding: 7px 0 7px 0;
  background-color: #10BBCF;
}

.button-shoping span:hover {
  background: rgb(255, 255, 255);
  position: relative;
  display: grid;
}


.total-end {
  border-bottom: 1px dashed black;
  font-size: 14px;

}

.total-end span {
  display: inline-block;
  ;
  color: #2f2f2f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 10px 13px 0;
  height: 40px;
  font-size: 13px;
}

.total-end tr {
  padding: 0px;
  margin: 2px;
}

.total-end p {
  padding: 20px;
  position: relative;
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.btn-check {
  border: 1px solid rgb(202, 202, 202);
  padding: 10px;
  width: 160%;
  display: inline-table;
  letter-spacing: 1px;
  color: white;
  background-color: #f0f0f0;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-weight: 450;
  margin: 1% auto;
}

btn-check button:hover {
  color: #ffffff;
}

.content-message h2 {
  margin-left: 46%;
  margin-top: 40px;
  /* padding: 3%; */
  height: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  font-size: 26px;
  color: #617D97;
}


.content-cartTitle h3 {
  display: block;
  color: #617D97;
  font-size: 18px;
  height: 0px;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  /* margin-right: 24px; */
  /* height: 30px; */
  /* border: 1px solid black; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-cartTitle tr th {
  width: 102px;
  float: left;
  padding: 4px;
  color: white;
  background-color: #2F2F2F;
  margin: 1px;

}



.content-cartTitle th {
  width: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
}

#end-product-check {
  position: absolute;
  display: inline;
  margin-left: 100.5%;
  margin-top: -5.6%;
  width: 36.9%;
  /* padding: 0px; */
  border: 1px solid rgb(203, 203, 203);
  background-color: #ebebeb;
}

#end-product-check table {
  /* border: 3px solid black; */
  float: left;
  display: grid;
  width: 100%;
  height: 10%;
  /* float: left; */

}

#end-product-check th {
  display: inline;
  width: 94%;
  /* text-align: center; */
}

#end-product-check button {
  border: 2px solid rgb(129, 129, 129);
  background-color: #8dedf8;
  color: black;
  text-decoration: none;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 13px;
}

.btnClear {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
  text-align: center;
  width: 20%;
  height: 45px;
  font-size: 10px;
  font-weight: 550px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
}

.btnClear span {
  padding: 6px;
  /* height: 20px; */

}